#background {
      background-image: url("https://raw.githubusercontent.com/arapc001/GitLab2/gh-pages/backgrounds/mtn.png"); /* The image used */
       background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* width height*/

}
